<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <p><%=successmsg%></p>
        <h3>Ismart Boii</h3>
        <p><%=failuremsg%></p>
        <h3>your accounted has been debited 120000 with Otp:<%=OTP%></h3>
    
</body>
</html>